version: '1.0.{build}'
skip_tags: true
image: Visual Studio 2017
test: off

environment:
  CLI_VERSION: '5.0.165'
  RUST_TOOLCHAIN: 'stable'
  DOCKER_TOKEN:
   secure: QKr2YEuliXdFKe3jN7w97w==
  DOCKER_USER:
    secure: bn3qFcGsm8Qw1V7px12K5w==

init:
  - git config --global core.longpaths true

install:
- ps: ./ci/setup.ps1
- ps: $env:Path = "C:\Users\appveyor\.cargo\bin;$env:Path"

build_script:
- ps: ./ci/build.ps1 -shortver "$($env:APPVEYOR_BUILD_VERSION)"
- ps: ./ci/smoke-test/check.ps1

artifacts:
- path: publish\*

deploy:
- provider: NuGet
  api_key:
    secure: ksmDWNHXO2Sh0FDXjJ+vj2a6ICn1bc2XQuA3hQ1N26Sel6kOwP/W8Z9u0y6JNQbg
  skip_symbols: true
  artifact: /Seq.Input.Gelf.*\.nupkg/
  on:
    branch: /^(master|dev|release/.*)$/
